:root{
   
    --bgd:#8c8c8c;
    --bgl:#f1eff0;
    --blanco:#fff;
    --azul:rgb(124, 74, 7);
    --aMarino:#f1eff0;
    --sombra:rgba(134, 131, 131, 0.5);
    --gris:#000000;
}
.azul-theme{
    --bgd:#000000;
    --bgl:#f1eff0;
    --blanco:#fff;
    --azul:#57bd9e;
    --aMarino:#061609;
    --sombra:rgba(134, 131, 131, 0.5);
    --gris:#8c8c8c;
}
html, body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg,var(--bgd),var(--aMarino),var(--bgd));
   
    
}
body{
    margin: 0;
    padding: 0;
}

.contenedor-principal, .cont-nav, nav {
    margin: 0;
    padding: 0;
}
.cont-nav .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que los elementos estén distribuidos */
    width: 100%;
    margin: 0;
    padding: 0;
}

.cont-nav nav .nav-right {
    display: flex;
    align-items: center;
}

.cont-nav nav a { 
    text-decoration: none;
    color: var(--azul);
    text-transform: uppercase;
    padding: 10px;
    font-size: 13px;
}
.cont-nav a:hover{
    color: var(--blanco);
}

.cont-nav nav button {
    border: none;
    background: none;
    color: var(--azul); 
    font-size: 25px;
    display: none;
}
.nav-right .switch{
    right: 10px;
}
.menu-burger{
    display: none;
}

#navBar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--aMarino); 
    opacity: 80%;
    left: 10px;
    z-index: 1000; 
}
.menu-burger.active {
    display: flex;
    background-color: var(--bgl); 
    opacity: 90%;
    position: fixed;
    width: 100%;
    z-index: 999; 
}
.switch {
    position: relative; 
    border-radius: 100px;
    width: 40px;
    height: 27px;
    border: 2px solid var(--azul);
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
#azul {
    font-size: 1rem;
    color: #000000;
}
#verde{
    font-size: 1rem;
    color: #f1eff0;
}

.cont-nav h2:last-child::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--azul);
    left: 0;
    right: unset;
    cursor: pointer;
}

.cont-nav h2:last-child.active::before {
    right: 0;
    left: unset;
    background-color:#57bd9e;
}

.switch.active {
    :root{
        --azul:#007bff; 
    }
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-home{
    margin-top: 50px;
    display: flex;
}
.datos-home{
    align-items: center;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--azul);
    margin: 30px;
    height: 300px;
    width: 430px;
}
.nombre_typing{
    color: var(--azul);
    text-align: center;
}

.datos-home h1{
    color: var(--azul);
    font-size: 50px;
} 
.datos-home p{
    color: var(--gris);
}  
.redes a{
    color: var(--azul);
    border-radius: 50%;
    border: 2px solid var(--azul);
    padding: 10px;
    margin: 10px;
}
.redes a:hover{
    box-shadow: 0 0 20px var(--blanco);
    background-color: var(--azul);
    color: #8c8c8c;
}
.foto-home img{
    width: 450px;
  height: 350px;
}
.titulo{
    color: var(--gris);
}
.sobreMi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-cont {
    display: flex;
    align-items: center;
    text-align: center;
}

.item {
    display: block;
}

.card {
    border-radius: 16px;
    padding: 20px;
    margin: 10px;
    width: 350px;
    min-height: 300px;
    box-shadow: 2px 2px 2px 2px rgba(134, 131, 131, 0.2);
    border: 2px solid var(--azul);
    transition: all 0.5s ease; 
}

.contenido {
    text-align: center;
}

.seguirLeyendo {
    display: none;
}

.leerMenos {
    display: none;
}

button.leer, button.leerMenos {
    margin: 0 auto; /* Centra el botón */
    background: none;
    border: none;
    color: var(--azul);
    cursor: pointer;
    font-size: 14px;
}

.item h3, p {
    color: var(--gris);
}

.item i {
    color: var(--azul);
}

.card button:hover {
    color: var(--blanco);
    cursor: pointer;
}

.leer {
    background: none;
    border: none;
    color: var(--azul);
}

.leerMenos {
    display: none;
    background: none;
    border: none;
    color: var(--azul);
}

button.leer, button.leerMenos {
    margin: 0 auto; /* Centra el botón */
    background: none;
    border: none;
    color: var(--azul);
    cursor: pointer;
    font-size: 14px;
    
}


.item h3, p{
    color: var(--gris);
}
.item i{
    color: var(--azul);
}
.card button:hover{
    color: var(--blanco);
    cursor: pointer;
}

.leer{
    background: none;
    border: none;
    color: var(--azul);
}
.leerMenos{
    display: none;
    background: none;
    border: none;
    color: var(--azul);
}

.tecnologias{
    text-align: center;
}
 .titulo{
    font-size: 17px;
}
.cont-tecnologias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 16px;
    box-shadow:  2px 2px 2px 2px rgba(134, 131, 131, 0.2);
    padding: 30px;
    margin: 30px;
    border: 2px solid var(--azul);
   
}
.cont-tec{
    display: flex;
    border-radius: 16px;
    box-shadow:  2px 2px 2px 2px rgba(134, 131, 131, 0.2);
    margin: 10px;
    padding: 20px;
    width: 150px;
    height: 50px;
    border: 2px solid var(--azul);
    
}
.cont-tec:hover{
    transform: scale(1.1);
}
.cont-tec img{
    width: 50px;
}
.cont-tec p{
  color: var(--gris);
  margin: 10px;
}
.formacion{
   text-align: center;
}
.cont-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    color: var(--gris);
    border-radius: 16px;
    box-shadow:  2px 2px 2px 2px rgba(134, 131, 131, 0.2);
    padding: 20px;
    margin: 10px;
    width: 260px;
    min-height: 250px;
    border: 2px solid var(--azul);
}
.form:hover{
    transform: scale(1.1);
}
.form h2, p{
    padding: 10px;
}
.form h2{
    color: var(--azul);
}


.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-proyectos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto {
    perspective: 1000px;

}

.image-proyect {
    transition: transform 0.3s;
    transform-style: preserve-3d;
}
.image-proyect img{
    height: 250px;
}

.image-proyect.rotated {
    transform: rotateY(90deg);
}

.detalle-proyecto {
    opacity: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition:  transform 0.3s ease;
    font-size: 14px;
    width: 580px;
    height: 230px;
    padding: 10px;
    position: absolute;
    background-color: var(--bgl);
    display: block;
    border-radius: 16px;
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    border: 2px solid var(--azul);
}
.titulo-detalle{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.titulo-detalle button{
    background: none;
    border: none;
}
.titulo-detalle i{
    font-size: 30px;
    color: var(--gris);
    cursor: pointer;
}
.titulo-detalle i:hover{
    color: var(--azul);
}
.ir {
    width: 120px;
    border-radius: 16px;
    padding: 7px;
    background-color: var(--azul);
    text-align: center;
    text-decoration: none;
    color: var(--bgl);
    box-shadow: 2px 2px 2px 2px rgba(134, 131, 131, 0.2);
}
.ir:hover{
    background-color: var(--gris);
}
.gh {
    font-size: 30px;
    color: var(--azul);
    margin-left: 10px;
    margin-top: 5px; /* optional: add some space between the buttons */
}
.gh:hover{
    color: var(--gris);
}

.link-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* optional: add some space between the buttons */
}

.detalle-proyecto.visible {
    opacity: 0.9;
    transform: rotateY(0);
}

.detalle-proyecto p {
    color: #000;
}

.btnProyect {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
}



.titulo-proyecto h2 {
    color: #000;
}

.titulo-proyecto button {
    background: none;
    border: none;
    cursor: pointer;
}

.titulo-proyecto i:hover {
    color: var(--azul);
}

.titulo-proyecto {
    display: flex;
    justify-content: space-between;
}



.image-proyect img {
    width: 600px;
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid var(--azul);
    box-shadow: 2px 2px 2px 2px rgba(134, 131, 131, 0.2);
}

.image-proyect img:hover {
    opacity: 80%;
}

.copyrigth{
    color: var(--gris);
    font-size: 12px;
    text-align: center;
    padding: 30px;
}
.contacto{
   display: flex; 
   align-items: center;
   justify-content: center;
}
.formulario{
    border-radius: 16px;
    box-shadow:  2px 2px 2px 2px rgba(134, 131, 131, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 600px;
    margin: 30px;
    border: 2px solid var(--azul);
}

.for{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.for label, input, textarea{
    margin-top: 10px;
    
}
.for label,textarea{
    color: var(--azul);
}
.for input, textarea{
    color: var(--gris);
    border: 2px solid var(--azul) ;
}
.for input{
    background: none;
    height: 30px;
}
.for button{
    background-color: var(--azul);
    border-radius: 10px;
    width: 30%;
    border: none;
    margin: 20px;
    padding: 15px;
    color: var(--aMarino);
    cursor: pointer;
}
.for button:hover{
    background-color: var(--gris);
}
.for input, textarea{
    width: 500px;
    background: none;
    border-radius: 10px;
}
.error{
    color: red;
    font-size: 12px;
}
.exito{
    text-align: center;
}
.mensaje{
    text-decoration: dashed;
    color: var(--azul);
}
.volver{
  border: none;
  border-radius: 10px;
  background-color: var(--azul);
  color: var(--blanco); 
  padding: 10px; 
  width: 100px;
  cursor: pointer;
}
.volver:hover{
    background-color:var(--blanco);
    color: var(--azul);
}
.lds-spinner {
    color: #1c4c5b
  }
  .lds-spinner,
  .lds-spinner div,
  .lds-spinner div:after {
    box-sizing: border-box;
  }
  .lds-spinner {
    color: var(--azul);
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3.2px;
    left: 36.8px;
    width: 6.4px;
    height: 17.6px;
    border-radius: 20%;
    background: currentColor;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .lds-spinner{
    display: none;
  }
  @media (min-width: 993px) and (max-width: 1200px){

  	.card{
        flex-wrap: wrap;
    }
    .cont-tecnologias{
        border: none;
    }
    .cont-form{
        flex-wrap: wrap;
    }
    .image-proyect img, .detalle-proyecto{
       width: 500px;
    }
  }
  @media (max-width: 992px) and (min-width: 769px){
  	.card{
        margin: 5px;
        max-width: 270px;
    }
    .image-proyect img{
        width: 500px;
     }
     .detalle-proyecto{
        width: 480px;
     }
     .detalle-proyecto{
        font-size: 12px;
     }
  }

  @media (min-whidth: 577px) and (max-width: 768px) {
   .cont-nav .navBar{
    justify-content: space-between;
   }
   .home h1{
    font-size: 30px;
   }
   .foto-home img{
    width: 300px;
    height: 230px;
   }
   .datos-home{
    width: 300px;
    height: 200px;
   }
   .card-cont{
    justify-content: center;
     text-align: center;
     flex-wrap: wrap; 
   }
    
  }
  
   @media (max-width: 576px) {
   
    .cont-nav .switch{
        margin-left: 280px;
    }
    .fa{
        font-size: 30px;
    }
    .redes i{
        font-size: 19px;
    }
    
    
    .cont-nav nav button {
        display: block;
        padding: 20px;
    }
    .cont-home{
        flex-direction: column;
        text-align: center;
        align-items: center;
        h1{
            font-size: 35px;
        }
    }
    .cont-home img{
        width: 300px;
        height: 250px;
    }
    .datos-home{
        border: none;
        margin: 0;
        padding: 0;
    }
    .card-cont{
        display: flex;
        flex-direction: column;
        
    }
    .item{
        margin: 10px;
    }
    .card{
        padding: 10px;
        max-width: 350px;
         
    }
    .cont-form{
        display: flex;
        flex-wrap: wrap;
    }
    .form{
        height: 290px ;
        width: 155px;
        padding: 2px;
        
    }
    .tecnologias{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
 
    .cont-tecnologias{
        width: 100%;
        margin: 0;
        padding: 0;
        width: 370px;
        border: none;
        box-shadow: none;
    }
    .cont-tec{
        display: block;
        margin: 5px;
        padding: 10px;
        height: 90px;
        p{
           padding: 0;
        }
    }
    .cont-proyectos{
        display: block;
    }

    .formulario{
        width: 300px;
    }
    
    .for input, textarea{
       width: 340px; 
    }
    .nav-right .switch{
        right: 20px;
    }
    .navBar a {
        display: none;
        
    }
    
    .menu-burger {
        display: none; 
        flex-direction: column;
    }

    .menu-burger.active {
        display: flex;
        background-color: var(--bgl); 
        opacity: 90%;
        position: fixed;
        width: 100%; 
    }

    .menu-burger a {
        margin-left: 10px;
        z-index: 1;
    }
    
    .image-proyect img{
        width: 100%;
        height: auto; 
        margin-bottom: 15px;
    }

    .detalle-proyecto {
        width: 350px;
        height: auto; 
        padding: 5px;
        font-size: 10px;
    }
    .proyecto{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
   
   
  
}

 
